<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Agregar Producto", css:"addProduct"}) %>   
<body>
    <%- include ('../partials/header') %>
    <main>
        <div id="main-box" >    
            <form action="/register" method="POST"> 
                <div>
                    <h2>
                        ¡Agrega un producto!
                    </h2>
                </div>
                <div class="info">
                    <label for="Product-name">Nombre del Producto</label><br/>
                    <input type="text" name="productName" placeholder="ingresar el nombre del producto" id="name" required>
                </div>
                <div class="info">
                    <label for="description">Descripcion del producto</label><br/>
                    <textarea name="productDescription" placeholder="ingresar una descripcion del producto"></textarea>
                </div>
                <div class="info">
                    <label for="img">Imagen del Producto:</label><br/>
                    <input name="productImage" type="file" id="img" accept=".jpg,.png" required >
                </div>
               
                <div class="info" >
                    <label>Categoria del producto:</label><br>
                    <div id="information">
                  <label class="label-info"><input type="checkbox" name="productCategory" value="set-de-vinos"class="option">set de vinos</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="tintos" class="option">Tintos</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="blancos" class="option">Blancos</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="rosados" class="option">Rosados</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="dulces" class="option">Dulces</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="espumantes" class="option">Espumantes</label><br>
                </div>
                </div>
                <div class="info">
                    <label for="price">Precio:</label><br/>
                    <input name="productPrice" type="text" id="price" placeholder= "ingresar el precio" required >
                </div>
                <div class="info">
                    <label>¿esta de oferta?</label><br>
                    <div id="information">
                        <label class="label-info"><input type="checkbox" name="productOffer" value="si"class="option">si contiene oferta</label><br>
                        <label class="label-info"><input type="checkbox" name="productOffer" value="no" class="option">no contine oferta</label><br>
                    </div>
                    <br>
                    <label for="off">procentaje de oferta en caso de tenerlo</label><br/>
                    <input name="productDiscount" type="number" id="off" placeholder= "ingresar el procentaje de oferta" required >
                </div>
                <div id="button">
                    <button type="submit">Agregar Producto</button>
                </div>
            </form>

        </div>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>