<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Detalle de productos", css:"productDetailStyles"}) %>   
    <body>
        <%- include ('../partials/header') %>
        <main>
            <div class="mainbox">
                <div class="description"> 
                    <div>
                        <h2>COMBO MALBEC MENDOCINO x 3</h2>
                        <br>
                        <h4>Inicio . Sets de Vinos . 3 vinos . Tintos . Combo Malbec Mendocino x 3</h4>
                    </div>
                    <div>  
                        <h1 class = "price">$2.515,00</h1>
                        <h3 class = "discount">¡15% OFF comprando 1 o más!</h3>
                        <br>
                        <br>
                        <h4>Válido para este producto y todos los de la categoría: Sets de Vinos -> 3 vinos.
                            Podés combinar esta promoción con otros productos de la misma categoría.</h4>
                            <br>
                        <h3>18 cuotas de $291,87</h3>
                        <br>
                        <h4 class = "details">Ver mas detalles</h4>
                        <br>
                    </div>
                    <div>
                        <h3>Cantidad</h3>
                        <h2>- 1 +</h2>
                        <br>
                    <div class = "button">
                        <a href="/productCart"><input type="submit" value="Agregar al carrito" data-store="product-buy-button"></a>
                    </div>
                        <br>
                        <br>
                        <H4>El combo Malbec Mendocino x 3 está compuesto por 3 vinos:</H4>
                    </div>

                </div>
                <div class = "img-productcontainer">
                    <img src="/img/malbec-mendocino1.png" alt="">
                </div>
            </div>
        </main>
        <%- include ('../partials/footer') %>
    </body>
</html>
