<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head') %>
        <link href="/css/productCartstyles.css" rel="stylesheet">
        <title>Carrito de comprass</title>
    </head>
<body>
    <%- include ('../partials/header') %>

    <main>
        <section id="top-section">
            <div class="title-cart">
                <h2>Mi Carrito</h2>
            </div>
            <div class="title-box">
                <div id="title-product">
                    <h4>PRODUCTO</h4>
                </div>
                <div id="title-cost">
                    <h4 class="detail">PRECIO</h4>
                    <h4 class="detail">CANTIDAD</h4>
                    <h4 class="detail">TOTAL</h4>
                </div>
 
            </div>
            <div class="product-box">
                <div class="img-product-description">
                    <div class="div-img-product">
                        <img class="img-product" src="/img/malbec-mendocino.png" alt="malbec-mendocino">
                    </div>
                    <div>
                        <h4 class="description">Combo Malbec Mendocino x 3</h4>
                        <h4 class="description">codigo: 12334</h4>
                        <h4 class="description">Bodega: Manos Negras</h4>
                    </div>
                </div>
                <div class="cost">
                    <div class="detail">
                        <h4 class="temporary">PRECIO</h4>
                        <h4>$1523</h4>
                    </div>
                    <div class="detail">
                        <i class="fas fa-plus"></i>
                        <input type="number" min="1" name="quantity" placeholder="1" id="quantity"/>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="detail">
                        <h4 class="temporary">TOTAL</h4>
                        <h4>$1523</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="bottom-section">
            <div id="zip-code">
                <div>
                    <h4>caluclar envio</h4>
                </div>
                <div class="zip-code-button">
                    <input type="text" placeholder="Ingresar código postal">
                    <button type="submit">Calcular</button>
                </div>
                
            </div>
            <div id="buy">
                <div>
                    <a href="#"><h4>sumar cupón de descuento</h4></a>

                </div>
                <div class="box-total">
                    <div class="subtotal">
                        <h4>subtotal</h4>
                        <h4>$$$</h4>
                    </div>
                    <div class="total">
                        <h4>total</h4>
                        <h4>$$$</h4>

                    </div>
                    
                </div>
                <div>
                    <button type="submit" id="finish-purchase">Finalizar compra </button>
                </div>
               
            </div>
        </section>
        

    </main>
    <%- include ('../partials/footer') %>

</body>
</html>