<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel= "stylesheet" href="/css/normalize.css">
    <link href="/css/homestyles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <div class="section-advertising">
                BEBER CON MODERACION. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.
            </div>    
        </section>
        <div class="container-header">
            <div class="subcontainer-header"> 
                <div id="logo">
                    <img class="img-logo" src= "/img/logo2.png" alt= 'logo'/>
                </div>
                <div class="search">
                <form class="form-search">
                    <input class="search-input" autocomplete="off" type="search" name="q" placeholder="Buscar" aria-label="Buscador">
                    <svg class="svg-buscar">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>                    </svg>               
                </form>
                </div>
                <div id="login-registro">
                    <svg class="svg">
                        <path class="path" d="M12,12A5,5,0,1,0,7,7,5,5,0,0,0,12,12Zm0-8A3,3,0,1,1,9,7,3,3,0,0,1,12,4Zm4,10H8a5,5,0,0,0-5,5v2a1,1,0,0,0,2,0V19a3,3,0,0,1,3-3h8a3,3,0,0,1,3,3v2a1,1,0,0,0,2,0V19A5,5,0,0,0,16,14Z">
                        </path>
                    </svg>
                    <svg class="svg">
                        <path class="path" d="M21.79,5.39l-3-4A1,1,0,0,0,18,1H6a1,1,0,0,0-.8.4l-3,4A1,1,0,0,0,2,6H2V20a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V6h0A1,1,0,0,0,21.79,5.39ZM6.5,3h11L19,5H5ZM7,10a1,1,0,0,1,2,0,3,3,0,0,0,6,0,1,1,0,0,1,2,0A5,5,0,0,1,7,10ZM20,20a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V7H20Z">
                        </path>
                    </svg>
                </div>
            </div>
            <div>
                <div class="nav-desktop">
                 <ul>
                     <li class="nav-item">Inicio</li>
                     <li class="nav-item">Sets de Vinos</li>
                     <li class="nav-item">Tintos</li>
                     <li class="nav-item">Blancos</li>
                     <li class="nav-item">Rosados</li>
                     <li class="nav-item">Dulces</li>
                     <li class="nav-item">Espumantes</li>
                     <li class="nav-item">Como Comprar</li>
                     <li class="nav-item">Medios de envio</li>
                 </ul>   
                </div>
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>            
        </div>
    </header>
    <main>
    <section>
        <div class="wrapper">
            <div class="slider" id="slider">
              <ul class="slides">
                <li class="slide" id="slide1">
                  <a href="#">
                    <img src="/img/homeimg1.jpg" alt="photo 1">
                  </a>
                </li>
                <li class="slide" id="slide2">
                  <a href="#">
                    <img src="/img/homeimg2.png" alt="photo 2">
                  </a>
                </li>
                <li class="slide" id="slide3">
                  <a href="#">
                    <img src="/img/homeimg3.png" alt="photo 3">
                  </a>
                </li>
                <li class="slide" id="slide4">
                  <a href="#">
                    <img src="/img/homeimg4.jpg" alt="photo 4">
                  </a>
                </li>
                <li class="slide" id="slide5">
                  <a href="#">
                     <img src="/img/homeimg5.jpg" alt="photo 5">
                  </a>
                </li>
                <li class="slide">
                  <a href="#">
                    <img src="/img/homeimg1.jpg" alt="photo 1">
                  </a>
                </li>
              </ul>
              <ul class="slider-controler">
                <li><a href="#slide1">&bull;</a></li>
                <li><a href="#slide2">&bull;</a></li>
                <li><a href="#slide3">&bull;</a></li>
                <li><a href="#slide4">&bull;</a></li>
                <li><a href="#slide5">&bull;</a></li>
              </ul>
            </div>
          </div>
    </section>
    <section class="section-featured-home">
        <div class="tab-nav-container">
            <ul class="ul-featured">
                <li class="tab-featured">
                    <a class="tab-nav-link" href="#tab_a">combos</a>
                </li>
                <li class="tab-featured">
                    <a class="tab-nav-link" href="#tab_b">novedades</a>
                </li>
                <li class="tab-featured">
                    <a class="tab-nav-link" href="#tab_c">ofertas</a>
                </li>
            </ul>
        </div>
        <div class="section-product">
            <div class="products">
                <article class="article-products">
                    <img src="img/vino1.jpg" alt="Anko Malbec" class="product_img">
                    <div class="main-article">
                        <p class="price">$1220</p>
                        <p class="discount">15% off</p>
                        <h4 class="description">Anko Malbec</h4>
                    </div>
                </article>
                <article class="article-products">
                    <img src="img/vino2.jpg" alt="Manos Negras" class="product_img">
                    <div class="main-article">
                        <p class="price">$1230</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Manos Negras</h4>
                    </div>
                </article>
                <article class="article-products">
                    <img src="img/vino3.png" alt="Saurus Pinot Noir" class="product_img">
                    <div class="main-article">
                        <p class="price">$580</p>
                        <p class="discount">10% off</p>
                    <h4 class="description">Saurus Pinot Noir</h4>
                    </div>
                </article>
                <article class="article-products">
                    <img src="img/vino4.jpg" alt="El Porvenir - Cabernet Sauvignon" class="product_img">
                    <div class="main-article">
                        <p class="price">$950</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">El Porvenir - Cabernet
                             Sauvignon</h4>
                    </div>
                </article>
            </div>  
        </div>
    </section>
    </main>
    <footer class="footer-container">
    <div class="row-footer">
        <div class="div-containter-footer">
            <h3 class="footer-title-h3">Newsletter
            </h3>
            <p class="footer-p">Recibí todas las ofertas</p>
            <form class="form-search">
                <input class="email-input" autocomplete="off" type="search" name="q" placeholder="Email" aria-label="Email">
                <svg class="svg-buscar">
                    <path d="M5.9 12.5l-.5-.5c-.1-.1-.1-.3 0-.5l3.9-4.2H.7C.5 7.3.4 7.2.4 7v-.8c0-.2.1-.3.3-.3h8.5L5.4 1.7c-.1-.1-.1-.3 0-.5l.5-.5c.1-.1.3-.1.4 0l5.2 5.7c.1.1.1.3 0 .5l-5.2 5.7c-.1 0-.3 0-.4-.1z"></path>                    </svg>               
            </form>
        </div>
        <div class="div-containter-footer">
            <ul>
                <h4 class="title-footer">Tienda</h4>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Contacto</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Cómo comprar</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Envios</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Arrepentimiento de compra</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Legales</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Promociones</a></li>
            </ul>
        </div>
        <div class="div-containter-footer">
            <a href="mailto:buenostintos@gmail.com" class="mail-footer">buenostintos@gmail.com</a>
            <a href="https://www.instagram.com/" class="social-icon"><i class="icono fab fa-instagram"></i></a>
            <a href="https://es-la.facebook.com/" class="social-icon"><i class="icono fab fa-facebook-square"></i></a>
        </div>
    </div>
    <div class="row-footer-end">
        <div class="div-containter-footer">
            <img src="/img/logo2.png" data-src="/img/logo2.png" alt="Buenos Tintos" title="Buenos Tintos" class="footer-logo">
        </div> 
        <div class="div-containter-footer">
            <p class="Copyright">Copyright Buenos Tintos - 2021</p>
            <div>
                <p class="consumer">Defensa de las y los consumidores. Para reclamos<a class="consumer-link" href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/formulario" target="_blank"> ingrese aquí</a> 
                </p>
            </div>            
            <div>
                <p class="created-by">Creado por grupo_1_buenostintos</p>               
            </div>                
        </div> 
        <div class="div-containter-footer">
            <div class="footer-payments-shipping-logos">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/todopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/todopago@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo">
            </div>
        </div> 
    </div>    
    </footer>
</body>
</html>