<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel= "stylesheet" href="/css/normalize.css">
    <link href="/css/loginstyles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo">
            <img src= "/img/logo.png" alt= 'logo'/>
        </div>
        
    </header>
    <main>
        <div id="main-box" >    
            <article>
                <section>
                    <h2>
                        ¡Bienvenido Nuevamente!
                    </h2>
                </section>
                <section class="info">
                    <h4>Email:</h4>
                    <input type="text" name="" placeholder="ingresar email" data-testid="emailInput" value=>
                </section>
                <section class="info">
                    <h4>Contraseña:</h4>
                    <input name="" type="password" placeholder="Ingresar Contraseña" autocomplete="false" data-testid="pwInput" value=>
                </section>
                <section id="button">
                    <button type="submit" data-testid="submitButton"><span class=>Iniciar sesión</span></button>
                </section>
            </article>
        </div>
    </main>
    <footer>
        <ul>
            <li><a href= '#'>Tienda</a></li>
            <li><a href= '#'>Contacto</a></li>
            <li><a href= '#'>Cómo comprar</a></li>
            <li><a href= '#'>Envios</a></li>
            <li><a href= '#'>Arrepentimiento de compra</a></li>
            <li><a href= '#'>Legales</a></li>
            <li><a href= '#'>Promociones</a></li>
        </ul>
        <div>
            <a href="mailto: buenostintos@gmail.com"><i class="icono far fa-envelope"></i></a>
            <a href="https://www.instagram.com/"><i class="icono fab fa-instagram"></i></a>
            <a href="https://es-la.facebook.com/"><i class="icono fab fa-facebook-square"></i></a>
            
        </div>
    </footer>
</body>
</html>