<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel= "stylesheet" href="/css/normalize.css">
    <link href="/css/productDetailstyles.css" rel="stylesheet">
    <title>productDetail</title>
</head>
<header>
    <div id="logo">
        <img src= "/img/logo.png" alt= 'logo' class="img-logo"/>
    </div>
    
</header>
<main>
    <div class="mainbox">
        <div class="description"> 
            <div>
                <h2>COMBO MALBEC MENDOCINO x 3</h2>
                <h4>Inicio . Sets de Vinos . 3 vinos . Tintos . Combo Malbec Mendocino x 3</h4>
            </div>
            <div>  
                <h1 class = "price">$2.515,00</h1>
                <h3 class = "discount">¡15% OFF comprando 1 o más!</h3>
                <br>
                <h4>Válido para este producto y todos los de la categoría: Sets de Vinos -> 3 vinos.
                    Podés combinar esta promoción con otros productos de la misma categoría.</h4>
                    <br>
                <h3>18 cuotas de $291,87</h3>
                <h4 class = "details">Ver mas detalles</h4>
                <br>
            </div>
            <div>
                <h3>Cantidad</h3>
                <h2>- 1 +</h2>
                <input type="submit" class="js-addtocart js-prod-submit-form btn btn-primary mb-2 cart col-12 col-md-7" value="Agregar al carrito" style="display: inline-block;">
                <br>
                <H4>El combo Malbec Mendocino x 3 está compuesto por 3 vinos:</H4>
            </div>

        </div>
        <div class = "img-productcontainer">
            <img src="/img/malbec-mendocino1.png" alt="">
        </div>
    </div>
</main>
<footer>
    <ul>
        <li><a href= '#'>Tienda</a></li>
        <li><a href= '#'>Contacto</a></li>
        <li><a href= '#'>Cómo comprar</a></li>
        <li><a href= '#'>Envios</a></li>
        <li><a href= '#'>Arrepentimiento de compra</a></li>
        <li><a href= '#'>Legales</a></li>
        <li><a href= '#'>Promociones</a></li>
    </ul>
    <div id="div-icono">
        <a href="mailto: buenostintos@gmail.com"><i class="icono far fa-envelope"></i></a>
        <a href="https://www.instagram.com/"><i class="icono fab fa-instagram"></i></a>
        <a href="https://es-la.facebook.com/"><i class="icono fab fa-facebook-square"></i></a>
        
    </div>
</footer>
</body>
</html>
