*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat" , sans-serif;
}




/* estilos del main */
#main-box{
    margin:auto;
    width:65%;
    border:#56203d solid 1px;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:15px;
    background-color:rgba(235, 217, 217, 0.767) ;
}

h2{
    line-height: 40px;
    text-align: center;
}

.info{
    padding-top: 30px;
    text-align: center;
    line-height: 25px;
}

input,textarea{
   width: 185px;
   border-radius: 7px;
   padding: 4px;
}

#button{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

button{
    border-radius: 7px;
    background-color: #d0a5c0;
    padding: 4px;
    width: 60%;

}

main{
    position: relative;
    height: 1200px;
    /* background-image:  url("https://static.vecteezy.com/system/resources/previews/001/905/119/non_2x/background-of-cups-wine-icons-free-vector.jpg"); */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4LjVtnQxr_qYkzReTF0nqqTNQuVOArAbwKg&usqp=CAU);
    background-repeat: repeat;
    margin-top: 15px;
}



.info .option{
   width:20px;

}

#information{
    text-align: left;
    margin-left: 25px;
}









@media (min-width:480px){
    
    #main-box{
        width:50%;
    }
    input,textarea{
        width: 90%;
    }

    
   


}

@media(min-width:768px){
    #main-box{
        width:40%;
    }
   
    main{
        height: 1100px;
    }
    input,textarea{
        width: 80%;
    }
    button{
        width: 50%;
    }


   
}

@media(min-width:1200px){
    #main-box{
        width:30%;
    }

   
    
   
}

.errores{
    color:#842029;
    background-color: #F8D7DA;
    border-radius: 10px;
  }