*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat" , sans-serif;
}
/*estilos del header*/
#logo{
    background-color: white
    

}

.img-logo{
    width:100%;
}
/*estilos del main*/
.description{
    display:flex;
    flex-direction: column;
     width:50%;
}
.img-productcontainer{
    width:50%;
}
.img-productcontainer img{
    width:100%;
}

.price {
    color:#a54076
}
.discount {
    color :cadetblue
}
.details {
    color :darkorchid
}
.element.style {
    display: inline-block;
}
/*estilos de el footer*/
footer{
    display: flex;
    padding: 15px 30px 0px;
    justify-content: space-between;
    background-color: #56203d;

}
.icono{
    font-size: 25px;
    padding: 5px;
}

ul{

    list-style-type: none;
    line-height: 20px;
    
}
a{
    color:white
}
<<<<<<< HEAD
@media (min-width:380px){
=======

.div-img-content{
    align-self: center;
}

@media (min-width:480px){
>>>>>>> 27c58bbd016f803d3ba9063d8e6aa27fee9a7696
    .img-logo{
        width: 30%;
    }
    
}

@media (min-width:320px){
    .img-logo{
        width: 30%;
    }
    
    .mainbox{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .img-product{
        width: 250px;
    }
}

@media (min-width:1024px){
    .img-logo{
        width: 30%;
    }
    
    .mainbox{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
}


@media(min-width:768px){
    .img-product{
        width: 500px;
    }
    
    .img-logo{
        width:22%;
    }


}

@media(min-width:1200px){
    #main-box{
        width:30%;
    }
    .img-logo{
        width: 15%;
    }
}
