
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat" , sans-serif;
}


img{
    width:100%;
}



@media (min-width:320px){
    .products{
        width: 100%;
        flex-direction: column;
        margin-top: 40px;
        display: flex;
        padding: 15px 20px 0px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }    
    .article-products{
        text-align: center;
    }
}



@media (min-width:480px){
    .products{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        display: flex;
        padding: 15px 20px 0px;
        justify-content: space-between;
    }

    .order-header-product-list{
        width: 30%;
        text-align: end;    
    }

    .div-header-h1-filter{
        font-size: 54px;
        font-weight: 900;
        font-family: "Muli", sans-serif;
    }
    
    .div-header-h1-filter::after{
        background-color: #D0A5C0;
        display: block;
        content: "";
        width: calc(40%);
        height: 10px;
        position: absolute;
    }
    img{
        width: 30%;
    }
}

@media(min-width:768px){
    .article-products{
     width: 22%;   
    }

    img{
        width:22%;
    }

    .header-product-list{
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 0px;
        align-items: center;
        flex-direction: row;
    }


}

@media(min-width:1200px){

    img{
        width: 164px;
    }
}

.div-header-product-list{
    width: 70%;
}