*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat" , sans-serif;
}

/*estilos del main*/
.description{
    display:flex;
    flex-direction: column;
     width:100%;
     text-align: center;
}
.img-productcontainer{
    width:100%;
}
.img-productcontainer img{
    width:100%;
}

.price {
    color: #56638A
}
.discount {
    color :#D0A5C0
}
.button{
   
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.button input {
    border-radius: 7px;
    background-color: #d0a5c0;
    padding: 4px;
}

.details {
    color :#B2675E
}
.element.style {
    display: inline-block;
}


@media (min-width:320px){
    
    
   
    
    .mainbox{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 25px;
    }

    .img-product{
        width: 250px;
    }
}



@media(min-width:768px){
    .img-product{
        width: 500px;
    }
    .description{
        width:40%;
        text-align: left;
    }
    .img-productcontainer{
        width:60%;
    }
    .mainbox{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;

    }
   
    
    

}

@media(min-width:1200px){
    #main-box{
        width:30%;
    }
       
    
}
