<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
    <link href="/css/homestyles.css" rel="stylesheet">
    <title>Bienvenido a Buenos Tintos</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
    <section>
        <div class="wrapper">
            <div class="slider" id="slider">
              <ul class="slides">
                <li class="slide" id="slide1">
                  <a href="#">
                    <img src="/img/homeimg1.jpg" alt="photo 1">
                  </a>
                </li>
                <li class="slide" id="slide2">
                  <a href="#">
                    <img src="/img/homeimg2.png" alt="photo 2">
                  </a>
                </li>
                <li class="slide" id="slide3">
                  <a href="#">
                    <img src="/img/homeimg3.png" alt="photo 3">
                  </a>
                </li>
                <li class="slide" id="slide4">
                  <a href="#">
                    <img src="/img/homeimg4.jpg" alt="photo 4">
                  </a>
                </li>
                <li class="slide" id="slide5">
                  <a href="#">
                     <img src="/img/homeimg5.jpg" alt="photo 5">
                  </a>
                </li>
                <li class="slide">
                  <a href="#">
                    <img src="/img/homeimg1.jpg" alt="photo 1">
                  </a>
                </li>
              </ul>
              <ul class="slider-controler">
                <li><a href="#slide1">&bull;</a></li>
                <li><a href="#slide2">&bull;</a></li>
                <li><a href="#slide3">&bull;</a></li>
                <li><a href="#slide4">&bull;</a></li>
                <li><a href="#slide5">&bull;</a></li>
              </ul>
            </div>
          </div>
    </section>
    <section class="section-featured-home">
        <div class="tab-nav-container">
            <ul class="ul-featured">
                <li class="tab-featured">
                    <a class="tab-nav-link" href="#tab_a">combos</a>
                </li>
                <li class="tab-featured">
                    <a class="tab-nav-link" href="#tab_b">novedades</a>
                </li>
                <li class="tab-featured">
                    <a class="tab-nav-link" href="#tab_c">ofertas</a>
                </li>
            </ul>
        </div>
        <div class="section-product">
            <div class="products">
                <article class="article-products">
                  <a style="text-decoration: none;color: #000000;" href="/productDetail">
                    <img src="img/vino1.jpg" alt="Anko Malbec" class="product_img">
                    <div class="main-article">
                        <p class="price">$1220</p>
                        <p class="discount">15% off</p>
                        <h4 class="description">Anko Malbec</h4>
                    </div>
                  </a>
                </article>
                <article class="article-products">
                    <a style="text-decoration: none;color: #000000;" href="/productDetail">
                      <img src="img/vino2.jpg" alt="Manos Negras" class="product_img">
                      <div class="main-article">
                          <p class="price">$1230</p>
                          <p class="discount">20% off</p>
                          <h4 class="description">Manos Negras</h4>
                      </div>
                    </a>
                </article>
                <article class="article-products">
                  <a style="text-decoration: none;color: #000000;" href="/productDetail">
                    <img src="img/vino3.png" alt="Saurus Pinot Noir" class="product_img">
                    <div class="main-article">
                        <p class="price">$580</p>
                        <p class="discount">10% off</p>
                    <h4 class="description">Saurus Pinot Noir</h4>
                    </div>
                  </a>
                </article>
                <article class="article-products">
                  <a style="text-decoration: none;color: #000000;" href="/productDetail">
                    <img src="img/vino4.jpg" alt="El Porvenir - Cabernet Sauvignon" class="product_img">
                    <div class="main-article">
                        <p class="price">$950</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">El Porvenir - Cabernet
                             Sauvignon</h4>
                    </div>
                  </a>
                </article>
            </div>  
        </div>
    </section>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>