<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Bienvenido a Buenos Tintos", css:"howToBuyStyles"}) %>
<body>
    <%- include ('../partials/header') %>
    <main>
    <section>
        <div class="header-product-list">
            <div class="div-header-product-list">
                <h1 class="div-header-h1-filter">Como Comprar: 
                </h1>
            </div>
        </div>
        <div class="subheader-product-list">
            <div class="div-header-product-list">
                <ol>
                    <li><p>Elige el producto que deseas comprar</p></li>
                    <li><p>Haz clic en el botón de "Agregar al carrito". Esto agregará el producto a tu carrito y te llevará al mismo.</p></li>
                    <li><p>Puedes seguir agregando otros productos al carrito o sino haz clic en "Iniciar Compra".</p></li>
                    <li><p>Completa tus datos de contacto y haz clic en "Continuar".</p></li>
                    <li><p>Ingresa la dirección a donde deseas recibir el producto. Luego haz clic en "Continuar".</p></li>
                    <li><p>Selecciona el método de envío que desees y haz clic en "Continuar".</p></li>
                    <li><p>Elige el medio de pago. Una vez que hayas elegido el medio de pago, haz clic en "Continuar".</p></li>
                    <li><p>Finalmente en la página de Confirmación de compra puedes revisar toda la información de la compra. Luego haz clic en "Continuar".</p></li>
                    <li><p>Ahí serás redirigido a otra pantalla para que completes los datos sobre la forma de pago elegida. Después de confirmar la compra recibirás un correo de nuestra parte, ese no será un comprobante de pago.</p></li>
                    <li><p>Una vez acreditado el pago, haremos el envío correspondiente de los productos que hayas comprado.</p></li>
                </ol>
                <br>
            </div>                 
        </div>
    </section>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>