<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Bienvenido a Buenos Tintos", css:"promotionStyles"}) %>
<body>
    <%- include ('../partials/header') %>
    <main>
    <section>
        <div class="header-product-list">
            <div class="div-header-product-list">
                <h1 class="div-header-h1-filter">Promociones: 
                </h1>
            </div>
        </div>
        <div class="subheader-product-list">
            <div class="div-header-product-list">
                <div class="col-md-8">
                    <p><strong>Legales Promoción TODO PAGO</strong></p>
                    <p>PROMOCIÓN VÁLIDA LOS DÍAS VIERNES COMPRENDIDOS ENTRE EL 01/06/2021 Y EL 30/06/2021 INCLUSIVE, EN LA REPÚBLICA ARGENTINA, EXCLUSIVA PARA VENTAS REALIZADAS CON TARJETAS DE CRÉDITO Y PREPAGAS MASTERCARD, Y DÉBITO (MASTERDEBIT ÚNICAMENTE), A TRAVÉS DE MPOS, BOTÓN DE PAGO, E-COMMERCE Y/O QR. EL REINTEGRO DEL 20% SE CALCULARÁ SOBRE EL PRECIO TOTAL DE LA TRANSACCIÓN Y SE ACREDITARÁ EN EL RESUMEN DE CUENTA DEL TARJETAHABIENTE O EN SU CUENTA, SEGÚN CORRESPONDA, DENTRO DEL PLAZO DE 15 DIAS HÁBILES POSTERIORES AL FIN DE LA VIGENCIA DE LA PROMOCIÓN. TOPE DE REINTEGRO: $800 (OCHOCIENTOS PESOS). **PROMOCIÓN VÁLIDA LOS DÍAS VIERNES COMPRENDIDOS ENTRE EL 01/06/2021 Y EL 30/06/2021 INCLUSIVE, EN LA REPÚBLICA ARGENTINA. SE BONIFICARÁ EL 100% (CIEN POR CIENTO) DEL COSTO FINANCIERO DE LAS TRANSACCIONES DE VENTA EN 3 (TRES) CUOTAS QUE SEAN ABONADAS CON TARJETA DE CRÉDITO, A TRAVÉS DE MPOS, BOTÓN DE PAGO, E-COMMERCE Y/O QR, A EXCEPCIÓN DE LAS OPERACIONES REALIZADAS CON PLANES “AHORA 3”. ESTE BENEFICIO APLICA A TODAS LAS VENTAS REALIZADAS CON LAS TARJETAS DE CRÉDITO QUE OPERAN BAJO EL SISTEMA TODO PAGO. ES CONDICIÓN ESENCIAL QUE EL USUARIO VENDEDOR CONFIGURE PREVIAMENTE SU CUENTA TODO PAGO A LOS FINES DE ACEPTAR PAGOS EN CUOTAS. EL USUARIO VENDEDOR SOLO ABONARÁ EL PRECIO DEL SERVICIO DE TODO PAGO, SEGÚN EL PLAZO DE ACREDITACIÓN SELECCIONADO. PARA MÁS INFORMACIÓN CONSULTE <a data-saferedirecturl="https://www.google.com/url?q=http://info.todopago.com.ar/pub/cc?_ri_%3DX0Gzc2X%253DAQpglLjHJlYQGNze0CHY9ynWhsJSI3mwymonlKsl33i93ygOhpdML92gmCROrYrRVXtpKX%253DUDYCY%26_ei_%3DEq2tf9zs59idfPO1Sc_9BbnVN4vdtzhi_ANKck3YksQHTF4pjNnkPX3GH_1V3HZd709DCuTPVPjrjILynr3m-sf5jUk0znSTUmuDKO4qsHa2OEEcxAFCIAw.%26_di_%3D8s0hm5uj4h692sd9932d6ppidv5jm40ddr5ig9csavnlni60e6h0&amp;source=gmail&amp;ust=1623530784513000&amp;usg=AFQjCNF0fq9umTBTnynTEjCPusTv9GrztA" href="http://info.todopago.com.ar/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlYQGNze0CHY9ynWhsJSI3mwymonlKsl33i93ygOhpdML92gmCROrYrRVXtpKX%3DUDYCY&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnVN4vdtzhi_ANKck3YksQHTF4pjNnkPX3GH_1V3HZd709DCuTPVPjrjILynr3m-sf5jUk0znSTUmuDKO4qsHa2OEEcxAFCIAw.&amp;_di_=8s0hm5uj4h692sd9932d6ppidv5jm40ddr5ig9csavnlni60e6h0" target="_blank">HTTPS://TODOPAGO.COM.AR/<wbr>COBRAR/OFRECER-CUOTAS-SIN-<wbr>INTERES</a>. EL TITULAR DE DATOS PERSONALES TIENE LA FACULTAD DE EJERCER EL DERECHO DE ACCESO A LOS MISMOS EN FORMA GRATUITA A INTERVALOS NO INFERIORES A SEIS MESES, SALVO QUE SE ACREDITE UN INTERÉS LEGÍTIMO AL EFECTO, CONFORME LO ESTABLECIDO EN EL ARTÍCULO 14, INCISO 3 DE LA LEY Nº 25.326. LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, TIENE LA ATRIBUCIÓN DE ATENDER LAS DENUNCIAS Y RECLAMOS QUE SE INTERPONGAN CON RELACIÓN AL INCUMPLIMIENTO DE LAS NORMAS SOBRE PROTECCIÓN DE DATOS PERSONALES. PARA CONTACTAR A LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA: AV. PTE. GRAL. JULIO A. ROCA 710, PISO 2 - CIUDAD AUTÓNOMA DE BUENOS AIRES, <a data-saferedirecturl="https://www.google.com/url?q=http://info.todopago.com.ar/pub/cc?_ri_%3DX0Gzc2X%253DAQpglLjHJlYQGNze0CHY9ynWhsJSI3mwymonlKsl33i93ygOhpdML92gmCROrYrRVXtpKX%253DUDARY%26_ei_%3DEq2tf9zs59idfPO1Sc_9BbnVN4vdtzhi_ANKck3YksQHTF4pjNnkPX3GH_1V3HZd709DCuTPVPjrjILynr3m-sf5jUk0znSTUmuDKO4qsHa2OEEcxAFCIAw.%26_di_%3Dp1qoj1k1807luvvhlh5ecld25g8vlbh7df43c9t8ehbsbrnc8ls0&amp;source=gmail&amp;ust=1623530784513000&amp;usg=AFQjCNHNDRGcmIp2F8N-x5w3HBxmiCyG9w" href="http://info.todopago.com.ar/pub/cc?_ri_=X0Gzc2X%3DAQpglLjHJlYQGNze0CHY9ynWhsJSI3mwymonlKsl33i93ygOhpdML92gmCROrYrRVXtpKX%3DUDARY&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BbnVN4vdtzhi_ANKck3YksQHTF4pjNnkPX3GH_1V3HZd709DCuTPVPjrjILynr3m-sf5jUk0znSTUmuDKO4qsHa2OEEcxAFCIAw.&amp;_di_=p1qoj1k1807luvvhlh5ecld25g8vlbh7df43c9t8ehbsbrnc8ls0" target="_blank">HTTPS://WWW.ARGENTINA.GOB.AR/<wbr>AAIP</a>, CORREO ELECTRÓNICO: <a href="mailto:info@aaip.gob.ar" target="_blank">INFO@AAIP.GOB.AR</a>. DIRECCIÓN NACIONAL DE PROTECCIÓN DE DATOS PERSONALES. LEY 25.326 ART. 27 (ARCHIVOS, REGISTROS O BANCOS DE DATOS CON FINES DE PUBLICIDAD.) INC. 3. EL TITULAR PODRÁ EN CUALQUIER MOMENTO SOLICITAR EL RETIRO O BLOQUEO DE SU NOMBRE DE LOS BANCOS DE DATOS A LOS QUE SE REFIERE EL PRESENTE ARTÍCULO. DTO. 1558/2001 ART. 27. EN TODA COMUNICACIÓN CON FINES DE PUBLICIDAD QUE SE REALICE POR CORREO, TELÉFONO, CORREO ELECTRÓNICO, INTERNET U OTRO MEDIO A DISTANCIA A CONOCER, SE DEBERÁ INDICAR, EN FORMA EXPRESA Y DESTACADA, LA POSIBILIDAD DEL TITULAR DEL DATO DE SOLICITAR EL RETIRO O BLOQUEO, TOTAL O PARCIAL, DE SU NOMBRE DE LA BASE DE DATOS. A PEDIDO DEL INTERESADO. BOTÓN DE PAGO S.A. CUIT 30-71460028-8 LAVARDEN 247, C.A.B.A.</p>
                </div>
                <br>
            </div>                 
        </div>
    </section>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>