<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Bienvenido a Buenos Tintos", css:"regretsStyles"}) %>
<body>
    <%- include ('../partials/header') %>
    <main>
    <section>
        <div class="header-product-list">
            <div class="div-header-product-list">
                <h1 class="div-header-h1-filter">Arrepentimiento de compra: 
                </h1>
            </div>
        </div>
        <div class="subheader-product-list">
            <div class="div-header-product-list">
                    <p>Compré por internet y me arrepentí ¿Puedo devolver el producto?</p>
                    <p><br>
                    Si, cuando compras por Internet, podes arrepentirte y pedir que se te devuelva el dinero. Tenes que devolver el producto como lo recibiste y tenes 10 días desde que lo compraste o desde que recibiste el producto, para solicitar la devolución.<br>
                    Si queres devolver un producto, por favor envíanos un mensaje por whatsapp al +54 9 11 1151-4442 o por mail a buenostintos@gmail.com.ar</p>
                    
                    <p>RESOLUCIÓN 424/2020 - DEVOLUCIONES DE COMPRAS EN INTERNET</p>
                <br>
            </div>                 
        </div>
    </section>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>