<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Bienvenido a Buenos Tintos", css:"sendConditionsStyles"}) %>
<body>
    <%- include ('../partials/header') %>
    <main>
    <section>
        <div class="header-product-list">
            <div class="div-header-product-list">
                <h1 class="div-header-h1-filter">Información de Envíos 
                </h1>
            </div>
        </div>
        <div class="subheader-product-list">
            <div class="div-header-product-list">
                <h3 class="div-header-h3-title">Podes elegir: 
                </h3>
                <br>
                <ol class="ol-style">
                    <li>
                    <p><strong>Envío a domicilio:</strong><br>
                    En este caso tenemos varios operadores logísticos disponibles dependiendo la zona en la que te encuentres. Solo tenes que poner el código postal, y te van a aparecer las diferentes opciones con sus respectivos valores y tiempos de entrega.</p>
                    </li>
                    <li>
                    <p><strong>Puntos de retiro:</strong><br>
                    Como alternativa a la entrega a domicilio, trabajamos tambien con distintas opciones de retiro con distintas empresas de logística. Algunos puntos de retiro son en sucursales de los principales correos, y otras alternativas que vas a encontrar es la posibilidad de pasar por lockers instalados en estaciones de servicios o Kioscos. Esto ultimo dependiendo la zona vas a tener la opción de elegir el más cercano o comodo para pasar a retirar.</p>
                    </li>
                </ol>
                    <h3 class="div-header-h3-title"> 
                    <strong>Costos de Envío:</strong></h3>
                
                    <p><br>
                        Los tiempos de entrega van a depender de la localidad destino y el servicio elegido. Contamos con servicios de entrega en el mismo día para CABA y GBA, 24 hs en GBA y de 48 hs a 5 días hábiles para el resto del país. Estos tiempos son estimativos, y pueden sufrir variaciones por motivos ajenos a nuestro alcance. </p>
                        <br>
                        <h3 class="div-header-h3-title"> 
                            <strong>Tiempos de Envío:</strong></h3>
        
                            <br>
                            <p>
                                Los tiempos de entrega van a depender de la localidad destino y el servicio elegido. Contamos con servicios de entrega en el mismo día para CABA y GBA, 24 hs en GBA y de 48 hs a 5 días hábiles para el resto del país. Estos tiempos son estimativos, y pueden sufrir variaciones por motivos ajenos a nuestro alcance. </p>
                                <br>
                                
            </div>
        </div>
        
        
    </section>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>