<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
        <link href="/css/logintstyles.css" rel="stylesheet">
        <title>login</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <main>
        <div id="main-box" >    
            <form action="/login" method="POST"> 
                <div>
                    <h2>
                        ¡Bienvenido Nuevamente!
                    </h2>
                </div>
                <div class="info">
                    <label for="e-mail">Email:</label><br/>
                    <input type="email" name="email" placeholder="ingresar email" id="e-mail" required> 
                </div>
                <div class="info">
                    <label for="password">Contraseña:</label></br>
                    <input name="password" type="password" placeholder="Ingresar Contraseña" id="password" required maxlength="10" minlength="5">
                </div>
                <div class="auth-page__confirm-section">
                    <div class="checkbox">
                        <input id="KeepSessionLoggedCheckbox" type="checkbox">
                        <label for="KeepSessionLoggedCheckbox">Mantener sesión</label>
                    </div>
                    <div>
                        <button id="ResetPassword" type="button" ><span class="button__text">¿Olvidaste tu contraseña?</span></button>
                    </div>
                </div>
                <div id="button">
                    <button class="send-button" type="submit">Iniciar sesión</button>
                </div>
            </form>
            <div class="register">
                <a href="/register">crear cuenta nueva</a>
            </div>
        </div>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>