<footer class="footer-container">
    <div class="row-footer">
        <div class="div-containter-footer">
            <h3 class="footer-title-h3">Newsletter
            </h3>
            <p class="footer-p">Recibí todas las ofertas</p>
            <form class="form-search">
                <input class="email-input" autocomplete="off" type="search" name="q" placeholder="Email" aria-label="Email">
                <svg class="svg-buscar">
                    <path d="M5.9 12.5l-.5-.5c-.1-.1-.1-.3 0-.5l3.9-4.2H.7C.5 7.3.4 7.2.4 7v-.8c0-.2.1-.3.3-.3h8.5L5.4 1.7c-.1-.1-.1-.3 0-.5l.5-.5c.1-.1.3-.1.4 0l5.2 5.7c.1.1.1.3 0 .5l-5.2 5.7c-.1 0-.3 0-.4-.1z"></path>                    </svg>               
            </form>
        </div>
        <div class="div-containter-footer">
            <ul>
                <h4 class="title-footer">Tienda</h4>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Contacto</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Cómo comprar</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Envios</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Arrepentimiento de compra</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Legales</a></li>
                <li class="footer-menu-item"><a href= '#' class="a-footer">Promociones</a></li>
            </ul>
        </div>
        <div class="div-containter-footer">
            <a href="mailto:buenostintos@gmail.com" class="mail-footer">buenostintos@gmail.com</a>
            <a href="https://www.instagram.com/" class="social-icon"><i class="icono fab fa-instagram"></i></a>
            <a href="https://es-la.facebook.com/" class="social-icon"><i class="icono fab fa-facebook-square"></i></a>
        </div>
    </div>
    <div class="row-footer-end">
        <div class="div-containter-footer">
            <img src="/img/logo2.png" data-src="/img/logo2.png" alt="Buenos Tintos" title="Buenos Tintos" class="footer-logo">
        </div> 
        <div class="div-containter-footer">
            <p class="Copyright">Copyright Buenos Tintos - 2021</p>
            <div>
                <p class="consumer">Defensa de las y los consumidores. Para reclamos<a class="consumer-link" href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/formulario" target="_blank"> ingrese aquí</a> 
                </p>
            </div>            
            <div>
                <p class="created-by">Creado por grupo_1_buenostintos</p>               
            </div>                
        </div> 
        <div class="div-containter-footer">
            <div class="footer-payments-shipping-logos">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/todopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/todopago@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo">
                <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo">
            </div>
        </div> 
    </div>    
    </footer>