<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Login", css:"loginstyles"}) %>   
<body>
    <%- include ('../partials/header') %>
    <main>
        <div id="main-box" >
            <ul class="errores"></ul>
            <form id="form" action="/login" method="POST" enctype="multipart/form-data"> 
                <div>
                    <h2>
                        ¡Bienvenido Nuevamente!
                    </h2>
                </div>
                <% if (locals.errors  && errors.email){ %>
                    <div class= text-danger >
                        <%= errors.email.msg %>
                    </div>
                <% } %> 
                <div class="info">
                    <label for="email">Email:</label><br/>
                    <input type="email" name="email" placeholder="ingresar email" id="e-mail"> 
                </div>
                <div class="info">
                    <label for="pass-word">Contraseña:</label></br>
                    <input name="password" type="password" placeholder="Ingresar Contraseña" id="password">
                </div>
                <div class="auth-page__confirm-section">
                    <div class="checkbox">
                        <input id="KeepSessionLoggedCheckbox" name='checkBox' type="checkbox">
                        <label for="KeepSessionLoggedCheckbox">Mantener sesión</label>
                    </div>
                    <div>
                        <button id="ResetPassword" type="button" ><span class="button__text">¿Olvidaste tu contraseña?</span></button>
                    </div>
                </div>
                <div id="button">
                    <button class="send-button" type="submit">Iniciar sesión</button>
                </div>
            </form>
            <div class="register">
                <a href="/register">crear cuenta nueva</a>
            </div>
        </div>
    </main>
    <%- include ('../partials/footer') %>
    <script src="/js/loginValidation.js"></script>
</body>
</html>